  <fieldset>
    <div class="control-group">
      <label class="control-label">Riemann Service Id</label>
      <div class="controls controls-row">
        <input type="text" name="check[riemannServiceId]" value="<%= check.getPollerParam('riemannServiceId') || '' %>" class="span2" placeholder="service id here"/>
      </div>
    </div>
  </fieldset>
